.fifthpage{
    height: 316.44px;
    background-color: white;
    border-radius: 7px;
    width: 1184px;
    margin-bottom: 18px;
}

.main__fiftthpage{
    height: 316.44px;
    background-color: white;
    border-radius: 7px;
    width: 1184px;
}
.dontmiss {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 48px;
    background-color: rgb(236, 202, 202);
    border-radius: 7px 7px 0px 0px;
}
.dontmiss h2{
    font-size: 1.45rem;
    font-weight: 500;
}


.fifthpage__ads{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 268.44px;
}
.fifthpage .freedelivery{
    border-radius: 7px;
    background-color: grey;
    width: 372px;
    height: 252px;
    background-image: url(/src/assets/378x252_copy_24\ \(1\).jpg);
}
.fifthpage .freedelivery:hover{
    transition: ease-in-out 0.1s;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
#fredeli1{
    background-image: url(/src/assets/anchor_378x252.jpg);
}
#fredeli2{
    background-image: url(/src/assets/drok.jpg);
}
/* .fifthpage__ads{
    display: flex;
}
.fifthpage__ads a{
    display: block;
    height: 252.44px;
    width: 400px;
}
.freedelivery1 {
    padding: 100%;
    display: block;
    height: 252.44;
    min-width: 378.68;
    background-image: url(/src/assets/378x252_copy_24\ \(1\).jpg);
    background-repeat: no-repeat;
}
.freedelivery2 {
    height: 252.44;
    width: 378.68;
    background-color: rgb(18, 6, 6);
    background-image: url();
}
.freedelivery3 {
    height: 252.44;
    width: 378.68;
    background-color: rgb(224, 82, 82);
    background-image: url();
} */