/* .eleventhpage{
    margin-bottom: 18px;
    border-radius: 7px;
} */

.sixteenthpage section{
    margin-top: 18px;

    border-radius: 7px;
    height: 319.33px;
    background-color: white ;
}
.sixteenthpage__header{
    background: #DEF1FD;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px 7px 0px 0px;
}
.oraimo__os{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.oraimo__os h2{
    font-weight: 500;
    font-size: 1.25rem;
}
.oraimo__os span{
    font-size: 1.3rem;
    padding-left: 10px;
}
.oos{
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.oos a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-right: 5px;
}
.oos i{
    font-weight: 1900 !important;
    align-self: center;
}


.sixteenthpage__slider{
    width: 1168px;
    height: 271.33px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}
.sixteenth__slider{
    width: 100%;
    display: block;
    padding: 0px 0px;
    overflow: hidden;
}
.sixteenth__card{
    height: 263.33px;
    width: 193.33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding:0px 0px 0px 5px;
}

.sixteenth__card a{
    position: relative;
    display: block;
    height: 247.33px;
    width: 185.33px;
    text-decoration: none;
}
.sixteenth__card a:hover{
    transition: ease-in-out 0.1s;
    transform: scale(1.01,1.01);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
    overflow: auto;
}
.sixteenth__card img{
    height: auto;
    width: 100%;
    display: block;
    border-style: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.sixteenth__card .productname{
    font-size: 0.875rem;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sixteenth__card .productprice{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.sixteenth__card .initialprice{
    color: #75757a;
    font-size: 0.75rem;
    font-weight: 400;
    padding-top: 4px;
    text-decoration: line-through;
}
.sixteenth__card .discount{
    display: block;
    position: absolute;
    min-width: 40px;
    background-color: rgb(246, 233, 209);
    color: orange;
    font-size: 0.75rem;
    right: 0px;
}
.sixteenth__card .slick-prev, .third__card .slick-next{
    background: rgb(107, 105, 105);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 40%;
}