.twentyonepage{
    height: 316.44px;
    background-color: white;
    border-radius: 7px;
    width: 1184px;
    margin-bottom: 18px;
}

.main__twentyonepage{
    height: 316.44px;
    background-color: white;
    border-radius: 7px;
    width: 1184px;
}
.hndf{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 48px;
    background-color: rgb(236, 202, 202);
    border-radius: 7px 7px 0px 0px;
}
.hndf h2{
    font-size: 1.25rem;
    font-weight: 500;
}


.twentyone__ads{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 268.44px;
}
.twentyone__ads a:nth-child(1) .hf{
    border-radius: 7px;
    background-color: white;
    width: 372px;
    height: 252px;
    background-image: url(/src/assets/ho-air-conditioners_378x252.png);
}
.twentyone__ads a:nth-child(2) .hf{
    border-radius: 7px;
    background-color: white;
    width: 372px;
    height: 252px;
    background-image: url(/src/assets/hoo-cookers_378x252.png);
}
.twentyone__ads a:nth-child(3) .hf{
    border-radius: 7px;
    background-color: white;
    width: 372px;
    height: 252px;
    background-image: url(/src/assets/hoo-fans_378x252.png);
}
.twentyonepage .hf:hover{
    transition: ease-in-out 0.1s;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
