.navbar{
    height: 72px;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: sticky !important;
    top: 0px;
    z-index: 12;
}
.navbar section{
    width: 1184px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.jumia__logo{
    height: 30px;
    width: 134px;
    background-image: url(/src/assets/jumia\ logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search{
    margin-right: -50px;
    display: flex;
    width: 610px;
    justify-content: space-between;
}
.search__fill{
    padding: 0px 5px;
    margin: 0px 10px;
    border: 1px solid black;
    display: flex;
    text-align: center;
    align-items: center;
}
.search input{
    border: none;
    padding: 10px;
    width: 500px;
}
.search button{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 0px 10px;
    border: none;
    border-radius: 3px;
    background-color: orange;
    color: white;
    font-weight: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign{
    max-width: 100px;
}
.main__sign{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.main__sign li{
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
    display: block;
    list-style: none;
    font-size: large;
    font-weight: 500;
}
.main__sign li:hover{
color: orange;
}
